<div id="header">
    <div class="head_outlay">
        <div class="head_bg">
            <div id="banner">
                 <div id="loginArea">
                    $theme.runtime("user_info")
                    #parse ("$full_templates_path/dock.vm")
                </div>
                <div id="logobox">
                    <a href="/">
                        <div class="site-logo">
                            <span class="hidden">Logo</span></h1>

                        </div>
                        <div class="site-name">
                            <span class="hidden">Climate CoLab</span></h1>

                        </div>
                    </a>
                </div>
                #if ($has_navigation)
                    #parse ("$full_templates_path/navigation.vm")
                #end

                
            </div>
            <div class="clear"></div>
            <!-- end banner -->


        </div>
    </div>
</div>
