<ul>
#foreach ($nav_item in $nav_items)
    #set($nav_name = $nav_item.getName().replaceAll("\s",""))
    #if ($nav_item.isSelected())
        #set ($nav_item_class = "c")
    #else
        #set ($nav_item_class = "")
    #end
    <li class="$nav_item_class">
        <a href="$nav_item.getURL()" $nav_item.getTarget()  class="$nav_name">$nav_name</a>
    </li>
           
#end
</ul>
